@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import "tailwindcss";

@layer base {
  html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  #root {
    background-color: black;
  }
}

.zen {
  font-family: 'Zen Dots', cursive;
}